parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\Infrastructure\Routing\ConfigRoutingPolicy:
        $config: '%delivery_routing.config%'
